{
	"env": {
		"test": {
			"presets": [
				"@babel/preset-env"
			],
			"plugins": [
				"@babel/plugin-transform-react-jsx",
				"@babel/plugin-transform-runtime",
				"@babel/plugin-transform-named-capturing-groups-regex"
			]
		}
	},
	"plugins": [
		"@babel/plugin-transform-react-jsx",
		"@babel/plugin-transform-named-capturing-groups-regex"
	]
}